{% load static %}
<style>
     .navbar {
    font-family: 'Poppins', sans-serif; /* Change font family for the entire navbar */
  }

  .navbar-nav .nav-link {
    font-size: 24px; /* Increase font size for navbar links */
    /* You can add more styling properties here as needed */
  }
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <img src="{% static '/img/earist-logo.png' %}" alt="" width="60" height="60">
      <a class="navbar-brand" href="#">EARIST</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registration' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>  